body {
 cursor: url(https://cdn.jsdelivr.net/gh/AsteroidQiao/config/Arrow.cur), default; }
button,a{ 
 cursor: url(https://cdn.jsdelivr.net/gh/AsteroidQiao/config/Hand.cur), pointer; }
input{ 
 cursor:url(https://cdn.jsdelivr.net/gh/AsteroidQiao/config/Help.cur), text; }
